
.table,
.el-table {

  .is-right .cell {
    justify-content: end;
  }

    .cell {
        overflow:visible !important;
    }

}

.table-hover tr:hover td {
  background: $gray-100 !important;
  /*cursor: pointer;*/
}
